@import "~minireset.css/minireset.css";

@font-face {
    font-family: "Arcade Classic";
    src: url("/static/fonts/arcade-classic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("/static/fonts/RobotoMono-Regular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#game-zone {
    position: relative;

    canvas {
        background: linear-gradient(140deg, rgba(86,152,255,1) 0%, rgba(125,96,210,1) 30%, rgba(193,49,205,1) 70%, rgba(193,49,205,1) 100%); 
        @media (min-width: 1000px) and (min-height: 480px) {
            border-radius: 5px;
        }
    }
    
    #menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        color: white;

        &.dark-background {
            background-color: rgba(0, 0, 0, 0.6);
        }

        // Home menu
        .main-menu {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: flex-start;

            width: 100%;
            height: 100%;

            font-family: "Arcade Classic", Arial, Helvetica, sans-serif;
        
            .title {
                font-size: 3rem;
                width: 100%;
                text-align: center;
                letter-spacing: 0.6rem;
            }

            .username-zone {
                display: block;
                width: 100%;

                .username-input {
                    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
                    $color: white;

                    display: block;
                    margin: 0 auto;
                    font-size: 1.7em;
                    max-width: 50%;
                    width: 13em;
                    background-color: transparent;
                    border: 1px solid transparent;
                    font-weight: 600;
                    border-bottom: 3px solid transparentize($color, 0.5);

                    color: $color;
                    &::placeholder {
                        color: transparentize($color, 0.5);
                    }
                }
            }

            .btn-play {
                $bg-color: #5112ff;
                font-family: "Arcade Classic", Arial, Helvetica, sans-serif;
                cursor: pointer;
                padding: 15px 20px;
                background-color: $bg-color;
                border: 1px solid transparent;
                border-radius: 5px;
                transition: background-color 0.2s;
                box-shadow: 0px 5px 10px 0px #2a2a2a78;
                color: white;
                font-size: 2em;

                &:hover {
                    background-color: darken($bg-color, 10);
                }
            }
        }

        // Server connection
        .server-connection,
        .server-reconnection {            
            font-family: "Arcade Classic", Arial, Helvetica, sans-serif;
            font-size: 3rem;
            letter-spacing: 0.5rem;
            width: 100%;
            height: 100%;
            display: flex;

            h1 {
                text-align: center;
                margin: auto;
            }
        }
 
        .server-reconnection {
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            h1 {
                margin: 0;
                width: 100%;
                text-align: center;
            }
        }

        // In game
        .wait-for-moving {
            font-family: "Arcade Classic", Arial, Helvetica, sans-serif;
            font-size: 3rem;
            letter-spacing: 0.5rem;
            width: 100%;
            height: 100%;
            display: flex;

            h1 {
                text-align: center;
                margin: 0 auto auto auto;
            }
        }

    }
}

.hidden {
    display: none !important;
}