div.main-menu(v-if="current == 'main'")
    h1.title
        = site.name
    div.username-zone
        input.username-input(type="text", placeholder="Surnom", v-model="username", maxlength="20")
    button.btn-play(@click="play")
        | Jouer

div.server-connection(v-else-if="current == 'serverConnection'")
    h1
        | Connexion au serveur...

div.server-reconnection(v-else-if="current == 'serverReconnection'")
    h1
        | Reconnexion au serveur...
    img(src="/static/images/mj.gif")