div.main-menu(v-if="current == 'main'")
    h1.title
        = site.name
    div.username-zone
        input.username-input(type="text", placeholder="Surnom", v-model="username", maxlength="20")
    button.btn-play(@click="play")
        | Jouer

div.server-connection(v-else-if="current == 'serverConnection'")
    h1
        | Connexion au serveur...

div.server-reconnection(v-else-if="current == 'serverReconnection'")
    h1
        | Reconnexion au serveur...
    img(src="/static/images/mj.gif")

div.wait-for-moving(v-else-if="current == 'waitForMoving'")
    h1
        | Appuyez sur 
        span(v-if="true") espace 
        span(v-else) sur l'ecran 
        | pour jouer

div.in-game(v-else-if="current == 'in-game'")
    div IN GAME